* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 2rem;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(#ffdde1, #ee9ca7);
    overflow-x: hidden;
    text-align: center;
}

.container {
   max-width: 700px;
   margin: auto;
   padding: 1rem;
}

.foto-romantica {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: radial-gradient(circle, #fff0f5, 40%, #ff69b4);
    border: 4px dashed #ff1493;
    box-shadow: 0 0 25px rgba(255, 105, 180, 0.6), 0 0 10px #ffb6c1 inset;
    object-fit: cover;
    margin: 1rem 0;
}

#btnPergunta {
    padding: 1rem 2 rem;
    font-size: 1.3rem;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 1rem 0;
}

#btnPergunta:hover {
    background-color: #ff1493;
}

.oculto {
    display: none;
}

.heart {
    position: absolute;
    font-size: 20px;
    animation: flutuar linear forwards;
    z-index: 10;
}

@keyframes flutuar {
    to {
        transform: translateY(-100vh);
        opacity: o;
    }
}

@keyframes pulsar {
    0%, 100% { transform: sacele(1); opacity: 0.8; }
    50% { transform: scale(1.1); opacity: 1; }
}

.decoracoes-coracoes {
    animation: pulsar 2s infinite;
    font-size: 1.8rem;
    margin: 0.5rem 0;
}